<h2>Category</h2>

<h3 class="category__title">A√±adir una nueva categor√≠a</h2>

<div class="main__category">
    <form action="/category/add" method="POST" class="form__category" enctype="multipart/form-data">
        <input type="text" name="name" id="categroy-name" placeholder="A√±adir categor√≠a">
        <input type="text" name="img" id="blog-img" placeholder="AÒadir un link">
        <button type="submit" class="btn btn-dark category__button">Crear</button>
    </form>
</div>

<h3 class="category__title">Listado de categor√≠as</h2>


<table class="table__content">
  <tr class="table__content-title">
    <th>Id</th>
    <th>Name</th>
    <th>Imagen</th>
    <th></th>
  </tr>
  
{{#each category}}
  <tr class="table__content-body">
    <td>{{id}}</td>
    <td class="body__td-title"><a href="/category/update/{{id}}">{{name}}</a></td>
    <td class="category__table-img"><a href="{{img}}" target="_blank">{{img}}</a></td>
    <td><a href="/category/delete/{{id}}" class="btn btn-danger">Delete</a></td>
  </tr>


{{else}}
<p>A√∫ no hay entradas de blog</p>

{{/each}}


</table>